*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    height: 100vh;
    background: #FAF9F6;
}

h1,h2,h3,h4{
    margin: 0px;
}

#navbar{
    background-color: #001233;/* #1b2da0;*/
    color: #CAC0B3;/*white*/
    font-size: larger;
    padding: 25px 20px 25px;
    border-bottom: solid 2.5px #f14153;
    margin-bottom: 3rem;
    position: relative;
}
    #navbar >em{
        font-family: 'Cinzel', serif;
        font-style: normal;
        font-size: 2rem;
    }
        #navbar >em span{
            color: #FF595A;
        }

.buttons{
    width:100px;
    height: 3em;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    border: solid  2px #FAF9F6;
    border-radius: 5px;
}
    .buttons:hover{
        background-color: rgb(71, 203, 137);
    }

.add-button{
    position: absolute;
    right:20vw;
    top:2em;
}

#news-board{
    /*background-color:rgb(163, 141, 41);*/
    width:96vw;
    margin-left: 2vw;
    min-height: 100px; /*remove later*/
    display: grid;
}

.news-card{
    margin: 5px;
    padding: 1.5em;
    min-height: 300px; /*remove later*/
    background-color: white;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 2px #333333;
    border-radius: 18px;
    position: relative;
}
    .news-card a{
        text-decoration: none;
        color: #2b2a2a;
    }
    .news-card h2:hover{
        text-decoration: underline;
    }

    .news-card .news-date{
        position: absolute;
        bottom: 2em;
    }

    .news-card .news-author{
        position: absolute;
        bottom: 2em;
        right: 1em;
    }

@media (min-width: 300px) {
    #news-board { grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); }
  }