.news-card{
    margin: 5px;
    padding: 1.5em;
    min-height: 300px; /*remove later*/
    background-color: white;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 2px #333333;
    border-radius: 18px;
    position: relative;
}
    .news-card a{
        text-decoration: none;
        color: #2b2a2a;
    }
    .news-card h2:hover{
        text-decoration: underline;
    }

    .news-card .news-date{
        position: absolute;
        bottom: 2em;
    }

    .news-card .news-author{
        position: absolute;
        bottom: 2em;
        right: 1em;
    }

@media (min-width: 300px) {
    #news-board { grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); }
  }