*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    height: 100vh;
    background: #FAF9F6;
}

h1,h2,h3,h4{
    margin: 0px;
}

#navbar{
    background-color: #001233;
    color: #CAC0B3;
    font-size: larger;
    padding: 25px 20px 25px;
    border-bottom: solid 2.5px #f14153;
    /*margin-bottom: 3rem;*/
    position: relative;
}
    #navbar >em{
        font-family: 'Cinzel', serif;
        font-style: normal;
        font-size: 2rem;
    }
        #navbar >em >a{
            text-decoration: none;
            color: inherit;
        }

        #navbar >em >a span{
            color: #FF595A;
        }

.buttons{
    width:100px;
    height: 3em;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    border: solid  2px #FAF9F6;
    border-radius: 5px;
}
    
    .buttons:hover{
        background-color: rgb(71, 203, 137);
    }

#load-form-button{
    position: absolute;
    right:20vw;
    top:2em;
}

#news-board{
    width:96vw;
    margin-left: 2vw;
    min-height: 100px; /*remove later*/
    display: grid;
}

/*for read news page*/
#news-img{
    width: 90%;
    max-height: 80vh;
    margin-left: 5%;
    object-position: center;
}

#delete-button{
    position: absolute;
    right:40vw;
    top:2em;
}

#update-button{
    position: absolute;
    right:20vw;
    top:2em;
}


#news-page{
    width: 80%;
    margin: auto;
}

#news-page>h1 {
    color: #2e2e2e;
    font-size: clamp(28px, 3.5vw, 42px);
    font-weight: 900;
}

#news-page hr {
    background-color: rgb(52, 122, 207);
    height: 2px;
}

#subscript-container {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

#subscript-container em {
    font-weight: 700;
}

#subscript-container >em span{
color: rgb(225, 95, 95);
}