#news-board * {
    margin-bottom: 0.6em;
}

/*
ALready declared on index.css

#delete-button{
    position: absolute;
    right:40vw;
    top:2em;
}

#update-button{
    position: absolute;
    right:20vw;
    top:2em;
}
*/

#news-page{
    width: 80%;
    margin: auto;
}

#news-page>h1 {
    color: #2e2e2e;
    font-size: clamp(28px, 3.5vw, 42px);
    font-weight: 900;
}

#news-page hr {
    background-color: rgb(52, 122, 207);
    height: 2px;
}

#subscript-container {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

#subscript-container em {
    font-weight: 700;
}

#subscript-container >em span{
color: rgb(225, 95, 95);
}

#content {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: #333333;
    word-spacing: 5px;
    font-size: clamp(16px, 1.6vw, 42px);
}

@media only screen and (max-width: 400px) {
    #subscript-container {
        width: 100%;
    }    
}

@media only screen and (min-width: 400px) {
    #subscript-container {
        width: 50%;
    }    
} 
