<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TJ</title>
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/read-news.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <nav id="navbar">
        <em><span>T</span>he &nbsp;<span>J</span>ournalist</em>
    </nav>

    <div id="news-board">
        <section id="news-page">
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo perspiciatis dolorem commodi.</h1>
            <div id="subscript-container">
                <em> Edited by: <span> Author</span> </em>
                <em>  Updated: <span> Date</span> </em>
            </div>
            <img id="news-img" src="" alt="">
            <article id="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis obcaecati ipsum ipsam
                perferendis magni corrupti modi cum quibusdam ea laboriosam corporis fugit et praesentium recusandae
                quae, dolorum quia dolores temporibus neque, reprehenderit dicta tenetur eius qui tempore. Id molestiae
                fuga libero placeat. Vitae omnis fugit rem dolores! Ducimus porro commodi iure ut ipsa qui officia odit
                quis itaque molestias, recusandae vitae facere placeat mollitia accusamus blanditiis illum ad hic
                numquam sed eum omnis cumque possimus in.
                <br><br>
                Perferendis, facilis exercitationem! Ipsum rem quo fugiat sunt
                incidunt qui, molestiae similique vero commodi enim cum earum eveniet, debitis in amet ratione quos
                exercitationem harum modi alias asperiores quae minus labore rerum. Voluptates inventore placeat neque
                explicabo veritatis, enim corrupti, soluta dolore tempore laboriosam reprehenderit incidunt fuga nostrum
                molestiae odio expedita, error beatae voluptas optio nulla sunt? Dignissimos, officiis iusto a, quasi
                ducimus optio placeat perspiciatis reprehenderit quas non laborum! Sit molestias ullam ea consequuntur,
                cum, magnam voluptatum modi corporis at placeat fugiat unde saepe.
                <br><br>
                Quo doloribus, mollitia similique excepturi, aspernatur at repudiandae provident, autem earum qui culpa architecto doloremque sequi ipsa
                quam sed reiciendis labore ab. Sed magni eveniet, quisquam inventore maxime quae porro at commodi
                officia in qui voluptatibus obcaecati illo dolor?
            </article>
        </section>
    </div>

    <script src="../script/loadOneNews.js"></script>
</body>

</html>