<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TJ</title>
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/form.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <div id="form-body">

        <!--Navbar-->
        <nav id="navbar">
            <em><a href="/"><span>T</span>he &nbsp;<span>J</span>ournalist</a></em>
        </nav>

        <!--Form-->
        <div id="news-board">
            <form>
                <div class="container">
                    <label for="author">Author</label>
                    <input type="text" name="author" class="input-fields" id="author-input">
                    <label for="date" id="date-label">Date</label>
                    <input type="date"name="date" class="input-fields" id="date-input">
                </div>
                <label class="clearfix" for="heading">Heading</label> <br>
                <textarea name="title" class="input-fields" id=""></textarea><br>
                <label for="content">Article</label><br> <br>
                <textarea name="description" class="input-fields" id="content-box"></textarea><br>
                <button type="submit" id="form-submit">Submit</button>
            </form>
        </div>
    </div>


    <script src="../script/submitFormData.js"></script>
</body>

</html>